body{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: Kanit;
    color: var(--pink);
}

h2{
    font-family: Kanit;
}

h3{
    font-family: Kanit;
    color: var(--lightpink);
}

header{
    display: flex;
    width: 90vw;
    height: 3vw;
    padding-top: 2vw;
    justify-content: space-around;
    align-items: baseline;
    gap: 10vw;
    border-bottom: 5px solid var(--pink);
}

header a{
    text-decoration: none;
}

.label{
    color: var(--pink);
    font-family: Kanit;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* jmeno, ingredience a foto */
.up{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1vw;
    margin-right: 8vw;
}

.name-div, .ing-div{
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.name-input{
    background-color: #F2D798;
    border: none;
    border-radius: 3px;
    width: 540px; height: 50px;
}
:focus{
    outline: none;
    border: 2px solid var(--yellow);
    border-radius: 3px;
    caret-color: var(--lightpink); 
}

.ing-input{
    background-color: #F2D798;
    border: none;
    border-radius: 3px;
    width: 540px; height: 100px;
}
:focus{
    outline: none;
    border: 2px solid var(--yellow);
    border-radius: 3px;
    caret-color: var(--lightpink); 
}

.in-left{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

/* jmeno, ingredience a foto */

/* description a submit button */

.down{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.desc-input{
    background-color: #F2D798;
    border: none;
    border-radius: 3px;
    width: 90vw; height: 150px;
}
:focus{
    outline: none;
    border: 2px solid var(--yellow);
    border-radius: 3px;
    caret-color: var(--lightpink); 
}

.addrecipe{
    background-color: #F2D798;
    padding: 5px 30px;
    border: 3px solid var(--yellow);
    color: var(--pink);
    font-family: Kanit;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    text-decoration: none;
}
.addrecipe:hover{
    background-color: #ecc66c;
}


