.up{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1vw;
    margin-right: 8vw;
}



#submit{
    background-color: var(--white);
    border: none;
}

#search{
    background-color: var(--white);
    border-bottom: 3px solid var(--lightpink); 
    border-top: none; border-left: none; border-right: none;
}

#search:focus{
    outline: none;
    caret-color: var(--lightpink); 
}

h1{
    font-family: Kanit;
    color: var(--pink);
}

h2{
    font-family: Kanit;
}

h3{
    font-family: Kanit;
    color: var(--lightpink);
}

header{
    display: flex;
    width: 90vw;
    height: 3vw;
    padding-top: 2vw;
    justify-content: space-around;
    align-items: baseline;
    gap: 10vw;
    border-bottom: 5px solid var(--pink);
}

header a{
    text-decoration: none;
}

.label{
    color: var(--pink);
    font-family: Kanit;
}

.name-input{
    background-color: #F2D798;
    border: none;
    border-radius: 3px;
    width: 540px; height: 68px;
}
:focus{
    outline: none;
    border: 2px solid var(--yellow);
    border-radius: 3px;
    caret-color: var(--lightpink); 
}

.ing-input{
    background-color: #F2D798;
    border: none;
    border-radius: 3px;
    width: 540px; height: 170px;
}
:focus{
    outline: none;
    border: 2px solid var(--yellow);
    border-radius: 3px;
    caret-color: var(--lightpink); 
}

.desc-input{
    background-color: #F2D798;
    border: none;
    border-radius: 3px;
    width: 90vw; height: 290px;
}
:focus{
    outline: none;
    border: 2px solid var(--yellow);
    border-radius: 3px;
    caret-color: var(--lightpink); 
}

.inputs{
    display: flex;
    flex-direction: column;
}

.in-left{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.name-div, .ing-div{
    display: flex;
    flex-direction: column;
    gap: 0vw;
}